{% extends 'movies/base.html' %} {% load static %} {% block css_files %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/slick/slick.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/slick/slick-theme.min.css' %}"
/>

{% endblock %} {% block page_title %} Index {% endblock %} {% block content %}

<div id="wrapper">
  {% include 'partials/_sidebar.html' %}

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      {% include 'partials/_topbar.html' %}

      <div class="container-fluid">
        {% include 'partials/profile-topbar.html' %}

        <div class="row">
          <div class="col-xl-3 col-lg-3">
            {% include 'partials/profile-menu.html' %}
          </div>
          <div class="col-xl-9 col-lg-9">
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div id="sidebar-1-4">
                  <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h5 mb-0 text-gray-900">Account Settings</h1>
                  </div>
                  <div class="row">
                    <div class="col">
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}

                            {% for field in form %}
                            
                                <div class="mb-3 {% if field.errors %} invalid {% endif %}">
                                    {% if field.errors %}
                                        <div class="alert alert-danger pb-0">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            
                            {% endfor %}


                            <input type="submit" value="Change Password" class="btn btn-primary">
                        </form>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <script>
      document.querySelectorAll("#sidebar-1 .nav-link")[2].classList.add("active");
    </script>

    {% include 'partials/_footer.html' %}
  </div>
</div>

{% endblock %}
