 {% load static %} 
 
 <div class="card m-card shadow border-0">
              <a href="movies-detail.html">
                <div class="m-card-cover">
                  <div
                    class="
                      position-absolute
                      bg-white
                      shadow-sm
                      rounded
                      text-center
                      p-2
                      m-2
                      love-box
                    "
                  >
                    <h6 class="text-gray-900 mb-0 font-weight-bold">
                      <i class="fas fa-heart text-danger"></i> 88%
                    </h6>
                    <small class="text-muted">23,421</small>
                  </div>
                  <img src="{% static 'img/m1.jpg' %}" class="card-img-top" alt="..." />
                </div>
                <div class="card-body p-3">
                  <h5 class="card-title text-gray-900 mb-1">
                    Jumanji: The Next Level
                  </h5>
                  <p class="card-text">
                    <small class="text-muted">English</small>
                    <small class="text-danger"
                      ><i class="fas fa-calendar-alt fa-sm text-gray-400"></i>
                      22 AUG</small
                    >
                  </p>
                </div>
              </a>
            </div>