 {% load static %} 
 
 <div class="osahan-slider">
          <div class="osahan-slider-item">
            <img
              src="{% static 'img/slider1.jpg' %}"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="osahan-slider-item">
            <img
              src="{% static 'img/slider2.jpg' %}"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="osahan-slider-item">
            <img
              src="{% static 'img/slider3.jpg' %}"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
        </div>