{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
{% endblock %}

{% block page_title %}
    register.html
{% endblock page_title %}
   
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
         
            <h1>register</h1>
            <hr>
            <form method="POST" novalidate>
                {% csrf_token %}
               
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}

                {% for field in form %}
                
                    <div class="mb-3 {% if field.errors %} invalid {% endif %}">
                        {% if field.errors %}
                            <div class="alert alert-danger pb-0">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                
                {% endfor %}

                <input type="submit" value="Register" class="btn btn-primary">
            </form>
           
        </div>
    </div>
</div>
  

{% endblock %}

{% block js_files %}
{% endblock %}
