{% extends 'movies/base.html' %} 
{% load static %} 
{% block css_files %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/slick/slick.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/slick/slick-theme.min.css' %}"
/>

{% endblock %} 

{% block page_title %} Login {% endblock %} 

{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center d-flex vh-100">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>

                <form class="user" method="POST" novalidate>
                  {% csrf_token %}
                  <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                      <li>
                        {{ error }}
                      </li>
                    {% endfor %}
                  </ul>

                  <div class="form-group">
                    {{ form.email.errors }}
                    {{ form.email }}
                  </div>
                  <div class="form-group">
                    {{ form.password.errors }}
                    {{ form.password }}
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      {{ form.remember_me.errors }}
                      {{ form.remember_me }}
                      <label class="custom-control-label" for="{{ form.remember_me.id_for_label }}"
                        >Remember Me</label
                      >
                    </div>
                  </div>
                  <input type="submit" class="btn btn-primary btn-user btn-block" value="Login">
                </form>



                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %} 

 {% block js_files %}
    <script>
        document.querySelector('body').classList.add('bg-gradient-primary')
    </script>    
 {% endblock %}