{% extends 'layout.html' %}

{% load static%}

{% block page_title %}
    {{ category }}
{% endblock  %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ category|title }}</h1>
                <hr>
                {% if products|length > 0 %}   
                    {% for product in products %}

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row g-0">
                                    <div class="col-md-3">
                                        <img src="{% static 'images/1.jpeg' %}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ product|title }}</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>     


                    {% endfor %}
                {% else %}
                    {% include 'partials/_no_product.html' %}   
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}