{% extends 'movies/base.html' %} 

{% load static %} 
{% block css_files %} {%endblock %} 

{% block page_title %} Movies {% endblock %} 

{% block content %}

<div id="wrapper">
  {% include 'partials/_sidebar.html' %}

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
     {% include 'partials/_topbar.html' %}

      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="cover-pic">
              <div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-4 love-box">
                <h6 class="text-gray-900 mb-0 font-weight-bold">
                  <i class="fas fa-heart text-danger"></i> 50%
                </h6>
                <small class="text-muted">8,784</small>
              </div>
              <img src="{{ movie.image_cover.url }}" class="img-fluid" alt="..." />
            </div>
          </div>
          <div class="col-xl-3 col-lg-3">
            <div class="bg-white p-3 widget shadow rounded mb-4">
              <img src="{{ movie.image_name.url }}" class="img-fluid rounded" alt="..." />
             
              <p>
                {% for person in people %}
                  {% if person.duty_type == "3" %}
                     <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">
                        Director
                    </h1>
                    <p>{{ person.full_name }}</p>
                  {% endif %}
                {% endfor %}
              </p>              
            </div>
          </div>
          <div class="col-xl-9 col-lg-9">
            <div class="bg-white info-header shadow rounded mb-4">
              <div
                class="row d-flex align-items-center justify-content-between p-3 border-bottom">
                <div class="col-lg-7 m-b-4">
                  <h3 class="text-gray-900 mb-0 mt-0 font-weight-bold">
                    {{ movie.title }}
                  </h3>
                  <p class="mb-0 text-gray-800">
                    <small class="text-muted">
                      <i class="fas fa-film fa-fw fa-sm mr-1"></i>
                        {% for genre in genres %}
                          / {{ genre.name }}
                        {% endfor %}
                    </small>
                  </p>
                </div>
                <div class="col-lg-5 text-right">
                  <a
                    href="#"
                    class="d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-share-alt"></i></a>
                  <a
                    href="#"
                    class="d-sm-inline-block btn btn-danger shadow-sm"
                  >
                    Add to Watchlist <i class="fas fa-plus fa-sm ml-1"></i
                  ></a>
                </div>
              </div>

              <div
                class="row d-flex align-items-center justify-content-between py-3 px-4">
                <div class="col-lg-6 m-b-4">
                  <p class="mb-0 text-gray-900">
                    <i class="fas fa-money-bill fa-sm fa-fw mr-1"></i> Filmin Bütçesi -
                    <span class="text-white rounded px-2 py-1 bg-info">$ {{ movie.budget|floatformat:0 }}</span>
                  </p>
                </div>
                <div class="col-lg-6 text-right">
                  <a href="#" class="btn btn-sm btn-primary btn-circle">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-danger btn-circle">
                    <i class="fab fa-youtube"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-warning btn-circle">
                    <i class="fab fa-snapchat-ghost"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-info btn-circle">
                    <i class="fab fa-twitter"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="bg-white p-3 widget shadow rounded mb-4">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    href="#home"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                    >Summary</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#profile"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                    >Cast
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="videos-tab"
                    data-toggle="tab"
                    href="#videos"
                    role="tab"
                    aria-controls="videos"
                    aria-selected="false"
                    >Videos
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#contact"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >Reviews</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade active show"
                  id="home"
                  role="tabpanel"
                  aria-labelledby="home-tab">
                  {{ movie.description|safe }}
                </div>
                <div
                  class="tab-pane fade"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab">
                  <h5 class="h6 mt-0 mb-3 font-weight-bold text-gray-900">
                        CAST
                    </h5>
                  <div class="row">

                    {% for person in people %}
                      {% if person.duty_type == "2" %}
                           <div class="artist-list mb-3 col-3">
                              <a class="d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                  <img class="rounded-circle" src="{% static 'img/'|add:person.image_name %}" alt=""/>
                                  <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                  <div class="text-truncate">{{ person.full_name }}</div>
                                  <div class="small text-gray-500">Acting</div>
                                </div>
                              </a>
                          </div>
                      {% endif %}                    
                    {% endfor %}                
                  
                  
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="videos"
                  role="tabpanel"
                  aria-labelledby="videos-tab">
                  <div class="row">

                      {% for video in videos %}
                          <div class="col-xl-6 col-lg-6">
                            <div class="mb-4">
                              <iframe
                                width="100%"
                                height="215"
                                src="https://www.youtube.com/embed/{{ video.url }}"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen=""
                              ></iframe>
                            </div>
                          </div>
                      
                      {% endfor %}
                  </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="card-body p-0 reviews-card">
                    {% include 'partials/_comment-list.html' %}
                  </div>
                  <div class="p-4 bg-light rounded mt-4">
                    {% include 'partials/_add_comment.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   {% include 'partials/_footer.html' %}
  </div>
</div>
{% endblock %}
