{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block css_files %}{% endblock %}
    <title> {% block page_title %} Layout {% endblock %} </title>
</head>
<body>
    {% include 'partials/_messages.html' %}
    {% include 'partials/_header.html' %}
    {% block content %} {% endblock %}
    {% include 'partials/_footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% block js_files %}{% endblock %}

</body>
</html>