{% load static %}

<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home_page' %}">
      <div class="sidebar-brand-icon">
        <img src="{% static 'img/logo-icon.png' %}" alt="" />
      </div>
      <div class="sidebar-brand-text mx-3">
        <img src="{% static 'img/logo.png' %}" alt="" />
      </div>
    </a>

    <li class="nav-item active">
      <a class="nav-link" href="{% url 'movies_page' %}">
        <i class="fas fa-fw fa-film"></i>
        <span>Movies</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="events.html">
        <i class="fas fa-fw fa-glass-cheers"></i>
        <span>Events</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="people.html">
        <i class="fas fa-fw fa-users"></i>
        <span>People</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="sports.html">
        <i class="fas fa-fw fa-futbol"></i>
        <span>Sports</span></a
      >
    </li>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">Extra</div>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <i class="fas fa-fw fa-pager"></i>
        <span>Pages</span>
      </a>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">All Pages</h6>
          <a class="collapse-item" href="movies.html">Movies</a>
          <a class="collapse-item" href="movies-detail.html">Movie Detail</a>
          <a class="collapse-item" href="events.html">Events</a>
          <a class="collapse-item" href="events-detail.html">Event Detail</a>
          <a class="collapse-item" href="people.html">People</a>
          <a class="collapse-item" href="people-detail.html">People Detail</a>
          <a class="collapse-item" href="sports.html">Sports</a>
          <a class="collapse-item" href="sports-detail.html">Sport Detail</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="offers.html">
        <i class="fas fa-fw fa-fire"></i>
        <span>Offers</span></a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapsePages"
        aria-expanded="true"
        aria-controls="collapsePages"
      >
        <i class="fas fa-fw fa-clone"></i>
        <span>Extra Pages</span>
      </a>
      <div
        id="collapsePages"
        class="collapse"
        aria-labelledby="headingPages"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Login Screens:</h6>
          <a class="collapse-item" href="login.html">Login</a>
          <a class="collapse-item" href="register.html">Register</a>
          <a class="collapse-item" href="forgot-password.html"
            >Forgot Password</a
          >
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">Other Pages:</h6>
          <a class="collapse-item" href="404.html">404 Page</a>
          <a class="collapse-item" href="blank.html">Blank Page</a>
        </div>
      </div>
    </li>
  </ul>