{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_title %}
    index.html
{% endblock page_title %}
   
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <a href="create">create product</a>
            <a href="list">products</a>
            <hr>
            <form action="list" method="GET">
                Kelime : <input type="text" name="q">
                <button type="submit">Submit</button>
            </form>
            
            <ul>
                {% for product in products %}
                    <li>
                        <a href={% url 'product_details' product.slug %}>
                            {{ product.name }}
                        </a>
                        - {{ product.price }}
                    </li>
                {% endfor %}
            </ul>
           
        </div>
    </div>
</div>
  

{% endblock %}


{% block js_files %}
    <script src="{% static 'js/script.js' %}""></script>
{% endblock %}
