{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
{% endblock %}

{% block page_title %}
    register.html
{% endblock page_title %}
   
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
         
            <h1>register</h1>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                 <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>

                 <div class="mb-3">
                    <label for="repassword" class="form-label">Re-Password</label>
                    <input type="password" name="password" id="repassword" class="form-control" required>
                </div>

                <input type="submit" value="Register" class="btn btn-primary">
            </form>
           
        </div>
    </div>
</div>
  

{% endblock %}

{% block js_files %}
{% endblock %}
